
<div class="mdl-grid mdl-grid-full">
    <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
        <div class="row none-border none-border-bottom">
            <div class="mdl-cell--4-col mdl-cell--4-tablet mdl-cell--hide-phone text-center-compare">
                Lựa chọn thẻ và so sánh thẻ Sacombank phù hợp nhất với bạn.
            </div>
            <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone text-center">
                <div *ngIf="!card1;else loadingImage1">
                    <a (click)="showDialog1 = !showDialog1"><img src="../../../assets/img/CardCompare.png" class="square" /></a>
                </div>
                <ng-template #loadingImage1>
                    <div *ngIf="card1" class="container-image">
                        <img src="{{card1.url}}" class="card-compare image" (click)="selectCard(card1)" />
                        <p class="none-margin">{{card1.Name}}</p>
                    </div>
                </ng-template>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-right button-small mdl-button-pickcard" *ngIf="!card1" (click)="showDialog1 = !showDialog1">Chọn thẻ</button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-right button-small remove-button" *ngIf="card1" (click)="RemoveCard1()">Hủy chọn</button>
            </div>
            <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone text-center" *ngIf="card1" style="padding-left: 16px;">
                <div *ngIf="!card2;else loadingImage2">
                    <a (click)="showDialog2 = !showDialog2"><img src="../../../assets/img/CardCompare.png" class="square" /></a>
                </div>
                <ng-template #loadingImage2>
                    <div *ngIf="card2" class="container-image">
                        <img src="{{card2.url}}" class="image card-compare" (click)="selectCard(card2)" />
                        <p class="none-margin">{{card2.Name}}</p>
                    </div>
                </ng-template>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-right button-small mdl-button-pickcard" *ngIf="!card2" (click)="showDialog2 = !showDialog2">Chọn thẻ</button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-right button-small remove-button" *ngIf="card2" (click)="RemoveCard2()">Hủy chọn</button>
            </div>
            <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone text-center" *ngIf="!card1" style="padding-left: 16px;">

            </div>
        </div>
    </div>
</div>
<accordion>

    <accordion-group heading="Tổng quan thẻ" [isGroupOpen]="true">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Phí thường niên</div>
                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Phí thường niên</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card1">{{card1.TIC1}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card2">{{card2.TIC1}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Hạn mức tín dụng</div>

                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Hạn mức tín dụng</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card1">{{card1.TIC2}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card2">{{card2.TIC2}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Lãi suất tháng ( thay đổi theo kỳ)</div>

                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Lãi suất tháng ( thay đổi theo kỳ)</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card1">{{card1.TIC3}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card2">{{card2.TIC3}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Thời gian miễn lãi tối đa</div>

                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Thời gian miễn lãi tối đa</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card1">{{card1.TIC4}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card2">{{card2.TIC4}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Hạn mức rút tiền mặt</div>
                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Hạn mức rút tiền mặt</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card1">{{card1.TIC5}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card2">{{card2.TIC5}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Tham gia chương trình Sacombank Plus</div>

                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Tham gia chương trình Sacombank Plus</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card1"><i class="material-icons">{{card1.TIC6}}</i></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card2"><i class="material-icons">{{card2.TIC6}}</i></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Chương trình khách hàng thân thiết</div>

                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Chương trình khách hàng thân thiết</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card1"><i class="material-icons">{{card1.TIC7}}</i></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="card2"><i class="material-icons">{{card2.TIC7}}</i></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
        </div>
    </accordion-group>
    <accordion-group heading="Tiện ích vượt trội" [isGroupOpen]="true">
        <!--*ngIf="(card1?.class != 'Classic' || card2?.class != 'Classic')"-->
        <div class="mdl-grid">
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Quyền lợi bảo hiểm</div>
                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Quyền lợi bảo hiểm</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet text-align" *ngIf="card1">{{card1.TIVT1}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet text-align" *ngIf="card2">{{card2.TIVT1}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Thẻ Prority Pass, phòng chờ tại hơn 1000 sân bay trên toàn thế giới</div>
                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Thẻ Prority Pass, phòng chờ tại hơn 1000 sân bay trên toàn thế giới</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet text-align" *ngIf="card1">{{card1.TIVT2}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet text-align" *ngIf="card2">{{card2.TIVT2}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Golf, Spa cao cấp</div>
                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Golf, Spa cao cấp</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet text-align" *ngIf="card1">{{card1.TIVT3}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet text-align" *ngIf="card2">{{card2.TIVT3}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
            <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell-border">
                <div class="mdl-cell--4-col-phone mdl-cell--hide-desktop mdl-cell--hide-tablet text-center">Đặc quyền khác</div>
                <div class="row">
                    <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-text-left">Đặc quyền khác</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card1"></div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet text-align" *ngIf="card1">{{card1.TIVT4}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet text-align" *ngIf="card2">{{card2.TIVT4}}</div>
                    <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet" *ngIf="!card2"></div>
                </div>
            </div>
        </div>
    </accordion-group>
    <accordion-group heading="Quy đổi điểm thưởng trong năm" [isGroupOpen]="true" *ngIf="card1 || card2">
        <transform-slider *ngIf="card1 || card2" [transformTypeId]="1" [firstCardId]="card1 != null ? card1.Id : 0" [secondCardId]="card2 != null ? card2.Id : 0"></transform-slider>
    </accordion-group>
    <accordion-group heading="Quy đổi hoàn tiền trong năm" [isGroupOpen]="true" *ngIf="card1 || card2">
        <transform-slider *ngIf="card1 || card2" [transformTypeId]="2" [firstCardId]="card1 != null ? card1.Id : 0" [secondCardId]="card2 != null ? card2.Id : 0"></transform-slider>
        <transform-slider *ngIf="card1 || card2" [transformTypeId]="2" [firstCardId]="card1 != null ? card1.Id : 0" [secondCardId]="card2 != null ? card2.Id : 0" [isOnlineExpenses]="true"></transform-slider>
    </accordion-group>
    <accordion-group heading="Quy đổi dặm bay trong năm" [isGroupOpen]="true" *ngIf="card1 || card2">
        <transform-slider *ngIf="card1 || card2" [transformTypeId]="3" [firstCardId]="card1 != null ? card1.Id : 0" [secondCardId]="card2 != null ? card2.Id : 0"></transform-slider>
    </accordion-group>
    <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="row none-border none-border-bottom">
            <div class="mdl-cell--4-col mdl-cell--hide-phone mdl-cell--4-col-tablet none-border"></div>
            <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet none-border"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-right button-small" *ngIf="card1" (click)="moveToTopButton();addClassbutton(1)" [ngClass]="{ 'btn-add1': isAddClass1}">{{isAddClass1 ? 'Đã chọn' : 'Chọn thẻ này'}}</button></div>
            <div class="mdl-cell--4-col mdl-cell-border mdl-cell--4-col-tablet none-border"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-right button-small" *ngIf="card2" (click)="moveToTopButton();addClassbutton(2)" [ngClass]="{ 'btn-add2': isAddClass2}">{{isAddClass2 ? 'Đã chọn' : 'Chọn thẻ này'}}</button></div>
        </div>
    </div>


</accordion>

<app-dialog [(visible)]="showDialog1">
    <div class="dialog-header">
        <h4>Chọn thẻ so sánh</h4>
    </div>
    <section>
        <!-- chọn tiện ích -->
        <div class="dialog-content">
            <div class="mdl-grid">
                <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-field-margin">
                        <select class="mdl-textfield__input" id="octane" [(ngModel)]="currentCatId1" (ngModelChange)="getCardType1($event)">
                            <option [ngValue]="c.currentCatId" *ngFor="let c of benefit1">{{c.director}}</option>
                        </select>
                        <label class="mdl-textfield__label" for="octane">Chọn tiện ích</label>
                    </div>
                </div>
                <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-field-margin" *ngIf="currentCatId1">
                        <select class="mdl-textfield__input" id="octane" name="octane" (ngModelChange)="getCard1($event)" [(ngModel)]="selectCardId1">
                            <option *ngFor="let ca of cardes1" [ngValue]="ca.Id" [hidden]="ca == card2">{{ca.Name}}</option>
                        </select>
                        <label class="mdl-textfield__label" for="octane">Chọn thẻ</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect dialog-button" (click)="showDialog1 = !showDialog1;UnSelectedCard1()">Đồng ý</button>
    </div>
</app-dialog>
<app-dialog [(visible)]="showDialog2">
    <div class="dialog-header">
        <h4>Chọn thẻ so sánh</h4>
    </div>
    <div class="dialog-content">
        <div class="mdl-grid">
            <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-field-margin">
                    <select class="mdl-textfield__input" id="octane" [(ngModel)]="currentCatId2" (ngModelChange)="getCardType2($event)">
                        <option [ngValue]="c.currentCatId" *ngFor="let c of benefit2">{{c.director}}</option>
                    </select>
                    <label class="mdl-textfield__label" for="octane">Chọn tiện ích</label>
                </div>
            </div>
            <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-field-margin" *ngIf="currentCatId2">
                    <select class="mdl-textfield__input" id="octane" name="octane" (ngModelChange)="getCard2($event)" [(ngModel)]="selectCardId2">
                        <option *ngFor="let ca of cardes2" [ngValue]="ca.Id" [hidden]="ca == card1">{{ca.Name}}</option>
                    </select>
                    <label class="mdl-textfield__label" for="octane">Chọn thẻ</label>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect dialog-button" (click)="showDialog2 = !showDialog2;UnSelectedCard2()">Đồng ý</button>
    </div>
</app-dialog>


