.inline {
    display: inline-block;
}
.dialog-field-margin {
    margin-left : 20px;
}
.square {
    overflow: hidden;
}
.card-compare {
    height: 100px;
    overflow: hidden;
    width :150px;
}
.mdl-cell-border {
    border-left: solid 1px #ececec;
}
img {
    display: block;
    margin: 0 auto;
    width:100%;
}
button {
    margin: auto;
    display: block;
    font-size :12px !important;
}
.dialog-field-right {
    float: right;
}
.row {
    max-width: 85.7142857143em;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
    display: flex;
    margin: 10px;
}
    .row:before {
        content: "";
        display: table;
    }
    .row:after {
        content: "";
        display: table;
    }

.bgr {
    background: #f9f9f9;
}

