.inline {
    display: inline-block;
}
.dialog-field-margin {
    margin : 10px;
}
.square {
    overflow: hidden;
}
.card-compare {
    max-height: 100px;
    overflow: hidden;
    max-width: 100%;
    width: 140px;
    height: 100px;
    min-width: 80px;
    min-height: 50px;
}
.mdl-cell-border {
    text-align: center;
}
.mdl-text-left {
    text-align: left;
    font-weight: bold;
}
img {
    display: block;
    margin: 0 auto;
    width:100%;
}
.button-small {
    margin: auto;
    display: block;
    font-size :10px !important;
}
.dialog-button {
    float: right;
    margin-right : 30px;
}
.row {
    max-width: 85.7142857143em;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
    display: flex;
    width: 100%;
    border-bottom: solid 1px #ececec;
}
    .row:before {
        content: "";
        display: table;
        box-sizing: border-box;
        border-right: solid 1px #ececec;
    }
    .row:after {
        content: "";
        display: table;
        box-sizing: border-box;
        border-right: solid 1px #ececec;
    }
    .row div {
        border-right: solid 1px #ececec;
        padding: 10px;
        border-top: solid 1px #ececec;
        border-left: solid 1px #ececec;
    }

.bgr {
    background: #f9f9f9;
}

.dialog-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 90%;
}
.dialog-header {
    padding: 5px 20px;
    background: #546E7A;
    color: #ffffff;
}

.container-image:hover .image {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.container-image {
    overflow: hidden;
    cursor: pointer;
}

.image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
.button-close-image {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2em;
}
.text-center-compare {
    margin-top: 7%;
}

