.inline {
    display: inline-block;
}

.dialog-field-margin {
    margin: 10px;
}

.square {
    overflow: hidden;
    width: 150px;
    height: 115px;
}
.card-compare {
    max-height: 100px;
    overflow: hidden;
    max-width: 100%;
    width: 140px;
    height: 100px;
    min-width: 80px;
    min-height: 50px;
}

.mdl-cell-border {
    text-align: justify;
}

.none-border.row div {
    border: none !important;
}
.none-border-bottom {
    border-bottom : none !important;
}

.text-center {
    text-align: center;
    color: #0066b3;
}

.mdl-text-left {
    text-align: left !important;
    color: #0066b3;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.button-small {
    margin: auto;
    display: block;
    font-size: 10px !important;
}

.dialog-button  {
    float: right;
    margin-right: 30px;
}
.text-transform {
    text-align: end;
    font-size: 12px !important;
    color: #000;
    margin-bottom: 0;
    opacity: .5;
}
.row {
    max-width: 85.7142857143em;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
    display: flex;
    width: 100%;
    border-bottom: solid 1px #ececec;
}

    .row:before {
        content: "";
        display: table;
        box-sizing: border-box;
        border-right: solid 1px #ececec;
    }

    .row:after {
        content: "";
        display: table;
        box-sizing: border-box;
        border-right: solid 1px #ececec;
    }

    .row div {
        border-right: solid 1px #ececec;
        padding: 10px;
        border-top: solid 1px #ececec;
        border-left: solid 1px #ececec;
        text-align : center;
    }

.mdl-grid-full {
    width : 100%;
}

.dialog-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    margin-bottom: 40px;
    margin-top: 30px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 90%;
}

.dialog-header {
    padding: 5px 20px;
    background: #0066b3;
    color: #ffffff;
}

.container-image:hover .image {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.container-image {
    overflow: hidden;
    cursor: pointer;
}

.mdl-button-pickcard {
    margin-top: 9px !important;
    background-color: #4490c7;
}

.image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.button-close-image {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2em;
}

.remove-button {
    background: #da4a4a !important;
    color: #fff;
}

    .remove-button:hover {
        background: #2b2828 !important;
    }

.mdl-grid {
    width: 100%;
}

.none-margin {
    margin: 0 0 0;
}
.btn-add1 {
    background: rgb(234, 135, 10) !important;
}
.btn-add2 {
    background: rgb(234, 135, 10) !important;
}
.title-compare {
    width : 100%;
}
.text-title-compare {
    font-size: 18px !important;
}
.font-icons {
    font-size: 18px !important;
}
.title-compare-padding {
    padding-bottom: 7px;
    padding-top: 6px;
}
.mdl-color-sacombank {
    background-color: #4490c7 ;
}
h4 {
    margin-bottom : 0 !important;
}
.mdl-textfield__input {
    font-size : 12px !important;
}
.label-dialog {
    font-size : 13px !important;
}
.text-left-tivt {
    text-align : left !important;
}
