<div>
    <h4>So sánh thẻ</h4>
</div>
<div class="mdl-grid">
    <div class="mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone squre-lef inline"></div>
    <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone squre-lef inline">
        <div *ngIf="!card1;else loadingImage1">
            <a (click)="showDialog1 = !showDialog1"><img src="../../../assets/img/CardCompare.png" class="square" /></a>
        </div>
        <ng-template #loadingImage1>
            <div *ngIf="card1">
                <img src="{{card1.url}}" class="card-compare" />
            </div>
        </ng-template>
        <br />
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-right" (click)="showDialog1 = !showDialog1">Thêm thẻ</button>

    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone squre-right inline">
        <div *ngIf="!card2;else loadingImage2">
            <img src="../../../assets/img/CardCompare.png" class="square" />
        </div>
        <ng-template #loadingImage2>
            <div *ngIf="card2">
                <img src="{{card2.url}}" class="card-compare" />
            </div>
        </ng-template>
        <br />
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-right" (click)="showDialog2 = !showDialog2">Thêm thẻ</button>
    </div>
</div>
<accordion>

    <accordion-group heading="Tiện ích vượt trội" isGroupOpen="true">
        <div class="mdl-grid">
            <div class="mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <p>this is material</p>
            </div>
            <div class="mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <p>sadas</p>
            </div>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <p>adsad</p>
            </div>

        </div>
    </accordion-group>

    <accordion-group [heading]="group.heading" *ngFor="let group of groups">
        {{group.content}}
    </accordion-group>
</accordion>
<div>
    <h4>Quy đổi</h4>
</div>
<input class="mdl-slider mdl-js-slider" type="range"
       min="0" max="100" value="50" tabindex="0" id="slide_01">
<form action="#">
    <div class="mdl-textfield mdl-js-textfield" id="text_01">
        <input class="mdl-textfield__input" type="text">
    </div>
</form>


<app-dialog [(visible)]="showDialog1">
    <div class="backgr"><h3>Chọn thẻ so sánh</h3></div>
    <section>
        <!-- chọn tiện ích -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-field-margin">
            <select class="mdl-textfield__input" id="octane" [(ngModel)]="currentCatId1" (ngModelChange)="getCardType1($event)">
                <option>-- Chọn tiện ích --</option>
                <option [ngValue]="c.currentCatId" *ngFor="let c of benefit1">{{c.currentCatId}} - {{c.director}}</option>
            </select>
            <label class="mdl-textfield__label" for="octane">Chọn tiện ích</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-field-right" *ngIf="currentCatId1">
            <select class="mdl-textfield__input" id="octane" name="octane" (ngModelChange)="getCard1($event)" [(ngModel)]="selectCardId1">

                <option>-- Chọn thẻ --</option>
                <option *ngFor="let ca of cardes1" [ngValue]="ca.Id" [hidden]="ca == card2">{{ca.Id}} - {{ca.Name}}</option>
            </select>
            <label class="mdl-textfield__label" for="octane">Chọn thẻ</label>
        </div>
    </section>
    <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect squre-right" (click)="showDialog1 = !showDialog1">Đồng ý</button>
    </div>

</app-dialog>

<app-dialog [(visible)]="showDialog2">
    <div class="backgr"><h3>Chọn thẻ so sánh</h3></div>
    <section>
        <!-- chọn tiện ích -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-field-margin">
            <select class="mdl-textfield__input" id="octane" [(ngModel)]="currentCatId2" (ngModelChange)="getCardType2($event)">
                <option>-- Chọn tiện ích --</option>
                <option [ngValue]="c.currentCatId" *ngFor="let c of benefit2">{{c.currentCatId}} - {{c.director}}</option>
            </select>
            <label class="mdl-textfield__label" for="octane">Chọn tiện ích</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-field-right" *ngIf="currentCatId2">
            <select class="mdl-textfield__input" id="octane" name="octane" (ngModelChange)="getCard2($event)" [(ngModel)]="selectCardId2">

                <option>-- Chọn thẻ --</option>
                <option *ngFor="let ca of cardes2" [ngValue]="ca.Id" [hidden]="ca == card1">{{ca.Id}} - {{ca.Name}}</option>
            </select>
            <label class="mdl-textfield__label" for="octane">Chọn thẻ</label>
        </div>
    </section>
    <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect squre-right" (click)="showDialog2 = !showDialog2">Đồng ý</button>
    </div>

    <!-- chọn thẻ trong tiện ích -->

</app-dialog>


