<main class="mdl-layout__content">
    <div class="page-content container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                <div>
                    <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
                        <slide *ngFor="let slidez of slides"
                               [active]="slidez.active">
                            <img [src]="slidez.image" style="margin:auto;">
                        </slide>
                    </carousel>
                </div>
                <!-- button menu -->
                <div class="mdl-cell mdl-cell--3-col inline " *ngFor="let btn of button">
                    <button id="{{btn.id}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button-padding" (click)="getContentCard(btn.ContentType)">
                       {{btn.name}}
                    </button>
                    <div class="mdl-tooltip" for="1">
                        Xem ưu điểm tiện ích dặm bay
                    </div>
                    <div class="mdl-tooltip" for="2">
                        Xem ưu điểm tiện ích hoàn tiền
                    </div>
                    <div class="mdl-tooltip" for="3">
                        Xem ưu điểm tiện ích điểm thưởng
                    </div>
                    <div class="mdl-tooltip" for="4">
                        Xem ưu điểm tiện ích rút tiền mặt miễn phí
                    </div>
                </div>
                <!-- card view -->
                    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-shadow--2dp inline">
                        <div id="wrapper">
                            <div id="slideshow">
                                <figure class="teste" *ngFor ="let image of CardView">
                                    <img src="{{image.url}}" alt="" />
                                </figure>
                                
                            </div>
                        </div>
                    </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-right" (click)="showDialog = !showDialog">So sánh thẻ</button>
                <br />

                <!-- show card benefit -->
                <div class="mdl-benefit">
                    <h4>Ưu điểm tiện ích</h4>
                    <div class="mdl-content-view"  *ngFor="let conte of contents">
                        <p>{{conte.content}}</p>
                    </div>
                </div>
                
            </div>

            <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-phone mdl-cell--6-tablet">
                <!-- REGISTER FORM -->
                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                        <h3 class="mdl-card__title-text">Thông tin khách hàng</h3>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="name" />
                                <label class="mdl-textfield__label" for="name">Name</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="email" id="email" />
                                <label class="mdl-textfield__label" for="email">Email</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="number" id="phone" />
                                <label class="mdl-textfield__label" for="phone">Phone</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <select class="mdl-textfield__input" id="Address" name="Address">
                                    <option></option>
                                    <option value="#">Hà Nội </option>
                                    <option value="#">Thành phố HCM</option>
                                    <option value="#">Đà Nẵng</option>
                                    <option value="#">Cần Thơ</option>
                                </select>
                                <label class="mdl-textfield__label" for="Address">Chọn thành phố</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <select class="mdl-textfield__input" id="salary" name="salary">
                                    <option></option>
                                    <option value="#">Mức 1</option>
                                    <option value="#">Mức 2</option>
                                    <option value="#">Mức 3</option>
                                </select>
                                <label class="mdl-textfield__label" for="salary">Mức thu nhập</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <select class="mdl-textfield__input" id="benefitCard" name="benefitCard">
                                    <option></option>
                                    <option value="#">Tiện ích 1 </option>
                                    <option value="#">Tiện ích 2</option>
                                    <option value="#">Tiện ích 3</option>
                                    <option value="#">Tiện ích 4</option>
                                </select>
                                <label class="mdl-textfield__label" for="benefitCard">Chọn tiện ích</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                                <label class="mdl-textfield__label" for="sample4">Number...</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>
                           

                        </form>
                    </div>
                    <div>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-checkbox"
                               for="checkbox2">
                            <input type="checkbox" id="checkbox2" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Tôi đồng ý với<a> điều khoản và quy định</a> Sacombank</span>
                        </label>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <div class="mdl-layout-spacer"></div>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Đăng ký</button>
                    </div>
                    <!-- addition -->
                    <div class="addition">
                        <div class="mdl-card mdl-shadow--16dp util-center util-spacing-h--40px element-left">
                            <div class="mdl-card__title mdl-color--teal-500 title-addition">
                                <h2 class="mdl-card__title-text mdl-color-text--white">Điều kiện đăng ký</h2>
                            </div>
                            <div>
                                <ul>
                                    <li>More Information</li>
                                    <li>More Information</li>
                                    <li>More Information</li>
                                    <li>More Information</li>
                                    <li>More Information</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Material Design Lite JavaScript -->
    </div>
    <!-- dialog -->
    <app-dialog [(visible)]="showDialog">

        <input id="toggle" class="inputtoggle" type="checkbox" checked>
        <label for="toggle" class="labeltoggle">So sánh thẻ</label>
        <div id="expand">
            <section>
                <!-- chọn tiện ích -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" id="octane" (ngModelChange)="getCardType($event)" [(ngModel)]="currentCatId"> >
                        <option></option>
                        <option [ngValue]="c.currentCatId" *ngFor="let c of benefit">{{c.Id}} - {{c.director}}</option>
                    </select>
                    <label class="mdl-textfield__label" for="octane">Chọn tiện ích</label>
                </div>
                <!-- chọn thẻ trong tiện ích -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" *ngIf="currentCatId">
                    <select class="mdl-textfield__input" id="octane" name="octane" (ngModelChange)="getCard($event)" [(ngModel)]="selectCardId">>
                        <option></option>
                        <option *ngFor="let ca of cardes" [ngValue]="ca.Id">{{ca.Id}} - {{ca.Name}}</option>
                    </select>
                    <label class="mdl-textfield__label" for="octane">Chọn thẻ</label>
                </div>
                <!-- start table compare -->
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="card">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Material</th>
                            <th>{{card.url}}</th>
                            <th>Unit price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                            <td>25</td>
                            <td>$2.90</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                            <td>50</td>
                            <td>$1.25</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                            <td>10</td>
                            <td>$2.35</td>
                        </tr>
                    </tbody>
                </table>
               
            </section>
        </div>
        
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="showDialog = !showDialog">Đóng</a>
        </div>
    </app-dialog>
    <!--end dialog-->
</main>
<br />