<div class="mdl-grid" *ngIf="!hasParent">
    <div class="mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <label class="label-color" for="amounts">{{transformTitle}}</label>
        <input #sliderInput class="mdl-slider mdl-js-slider" type="range"
               min="{{minAmount}}" max="{{maxAmount}}" [(ngModel)]="amount" step="{{step}}"
               (ngModelChange)="transform($event)">
        <div class="min-max-amount">
            <span class="min-value">0 VNĐ</span>
            <span class="max-value">
                <input #textInput class="mdl-textfield__input max-input" type="text" id="amounts" [(ngModel)]="formattedAmount" (ngModelChange)="onInputChange($event)" />
                <span class="max-value-unit">VNĐ</span>
            </span>
            <div class="fix"></div>
        </div>
    </div>
    <div class="mdl-cell--2-col mdl-cell-border mdl-cell--2-col-tablet mdl-cell--2-col-phone color-text result-content-child"><div class="points-blocks"><p class="points">{{firstCardPoints |changedots}}</p></div></div>
    <div class="mdl-cell--2-col mdl-cell-border mdl-cell--2-col-tablet mdl-cell--2-col-phone color-text result-content-child"><div class="points-blocks"><p class="points">{{secondCardPoints |changedots}}</p></div></div>
</div>
<div *ngIf="hasParent">
    <div class="child-slider">
        <label class="label-color" for="amounts">{{transformTitle}}</label>
        <input #sliderInput class="mdl-slider mdl-js-slider" type="range"
               min="{{minAmount}}" max="{{maxAmount}}" [(ngModel)]="amount" step="{{step}}"
               (ngModelChange)="transform($event)">
        <div class="min-max-amount">
            <span class="min-value">0 VNĐ</span>
            <span class="max-value">
                <input #textInput class="mdl-textfield__input max-input" type="text" id="amounts" [(ngModel)]="formattedAmount" (ngModelChange)="onInputChange($event)" />
                <span class="max-value-unit">VNĐ</span>
            </span>
            <div class="fix"></div>
        </div>
    </div>
</div>