.row {
    max-width: 85.7142857143em;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
    display: flex;
    padding: 10px;
    border-bottom: solid 3px #ececec;
}
.row:before {
    content: "";
    display: table;
}
.row:after {
    content: "";
    display: table;
}

    .mdl-cell-border {
        text-align: center;
    }

    .min-max-amount {
        width: 100%;
        position: relative;
    }

    .min-value {
        position: absolute;
        font-size: 0.75em;
    }

    .max-value {
        float: right;
        font-size: 0.75em;
    }

    .text-center {
        text-align: center;
        color: #1d88f7;
        font-weight: 600;
        font-size: 0.9375em;
        padding: 0.6666666667em 0.9333333333em;
        border: 1px solid #ededed;
        width: 100%;
        margin-bottom: 5px;
    }

    .color-text {
        color: red;
        font-size: 0.9375em;
        font-weight: 600;
    }

