.mdl-cell-border {
    text-align: center;
    border: 1px solid #eee;
}

.min-max-amount {
    width: 100%;
    position: relative;
    border : 0 !important;
}

.min-value {
    position: absolute;
    font-size: 0.75em;
    color: #1d88f7;
}

.max-value {
    float: right;
    font-size: 0.75em;
}
.max-value-unit {
    position: absolute;
    font-size: 0.75em;
    color: #1d88f7;
    right: 3%;
}
.transform-width {
    width : 100%;
}
.transform-top {
    width: 100%;
}

.text-center {
    text-align: center;
    color: #1d88f7;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 10px;
    
}
@media screen and (min-width : 480px){
    .text-center {
        padding-right: 15px;
    }
    .mdl-textfield__input{
        border-bottom : none !important;
    }
}

.color-text {
    color: red;
    font-size: 0.9375em;
    font-weight: 600;
}

.border-trans {
    border: solid 3px #ececec;
}

.transform-left {
    text-align: left;
    color: red;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 12px;
}
.label-color {
    color: #1d88f7;
    margin-left: 20px;
}


.row {
    max-width: 85.7142857143em;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
    display: flex;
    width: 100%;
}

.row:before {
    content: "";
    display: table;
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    box-sizing: border-box;
}
.fix-full-width {
    width : 100% !important;
}
.mdl-border-unset {
    border : 0 !important;
}
@media screen and (min-width : 479px){
    .card-media-top {
        padding-top : 19%;
    }
    .transform-media{
        padding-top : 5%;
    }
}
@media (min-width : 320px){
    .mdl-cell--12-col .mdl-cell--12-col-desktop .mdl-cell--8-col .mdl-cell--8-col-tablet .mdl-cell--12-col-tablet .mdl-cell--4-col {
        width: 100% !important;
    }
}
@media (max-width: 479px) {
    .mdl-cell--2-col, .mdl-cell--2-col-phone.mdl-cell--2-col-phone {
        width: 50% !important;
    }
    .mdl-cell--4-col-phone {
        width : 100% !important;
    }

}