.mdl-cell-border {
    text-align: center;
}

.min-max-amount {
    width: 100%;
    position: relative;
}

.min-value {
    position: absolute;
    font-size: 0.75em;
}

.max-value {
    float: right;
    font-size: 0.75em;
}
.transform-width {
    width : 100%;
    margin-left : 25px;
}
.transform-top {
    width: 100%;
    margin-top: 20px;
}

.text-center {
    text-align: center;
    color: #1d88f7;
    font-weight: 600;
    font-size: 0.9375em;
    padding: 0.6666666667em 0.9333333333em;
    width: auto;
}

.color-text {
    color: red;
    font-size: 0.9375em;
    font-weight: 600;
}

.border-trans {
    border: solid 3px #ececec;
}

.transform-left {
    text-align: left;
    color: red;
}
.label-color {
    color: #1d88f7;
}


.row {
    max-width: 85.7142857143em;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
    display: flex;
    width: 100%;
    border-bottom: solid 1px #ececec;
}

.row:before {
    content: "";
    display: table;
    box-sizing: border-box;
    border-right: solid 1px #ececec;
}

.row:after {
    content: "";
    display: table;
    box-sizing: border-box;
    border-right: solid 1px #ececec;
}

.row div {
    border-right: solid 1px #ececec;
    padding: 10px;
    border-top: solid 1px #ececec;
    border-left: solid 1px #ececec;
}
