<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="android-header mdl-layout__header mdl-layout__header--waterfall header-bottom">
        <app-header></app-header>
    </div>
    <div class="android-drawer mdl-layout__drawer mdl-layout--small-screen-only" (click)="CloseDrawer(n)">
        <nav class="mdl-navigation nav-drawer">
            <a class="mdl-navigation__link sacombank-border-top" routerLinkActive="active-drawer" routerLink="/home" (click)="CloseDrawer(2)">Trang Chủ</a>
            
            <a class="mdl-navigation__link sacombank-border-top" (click)="ChangeArrow()"><span>Dịch vụ thẻ</span><i class="material-icons drawer-submenu-icon">{{changeArrow}}</i></a>
           
            <div *ngIf="showSubmenu">
                <a class="mdl-navigation__link sacombank-border-top drawer-submenu" routerLinkActive="active-drawer" routerLink="/register" (click)="CloseDrawer(1)">Thẻ tín dụng</a>
                <a href="https://card.sacombank.com.vn/DebitCardForm.aspx" target="_blank" class="mdl-navigation__link sacombank-border-top drawer-submenu" routerLinkActive="active-drawer">Thẻ thanh toán</a>
                <a href="https://card.sacombank.com.vn/the/PictureCard?s=PC01" target="_blank"  class="mdl-navigation__link sacombank-border-top drawer-submenu" routerLinkActive="active-drawer">Thẻ in hình</a>
                <a href="https://card.sacombank.com.vn/RecommenderInfo.aspx" target="_blank"  class="mdl-navigation__link sacombank-border-top drawer-submenu" routerLinkActive="active-drawer">Giới thiệu bạn bè</a>
            </div>
        </nav>
    </div>
    <div class="android-content mdl-layout__content" (scroll)="scroll($event)" #cardProMain>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <to-top></to-top>
    </div>
</div>