<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <app-header></app-header>
    </div>
    <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
            <img class="android-logo-image" src="../src/assets/img/logo.png">
        </span>
        <nav class="mdl-navigation"  *ngFor="let route of routes">
            <a class="mdl-navigation__link"  *ngIf="route.data" routerLinkActive="active-link" routerLink="{{route.path}}">{{route.data.title}}</a>
            
        </nav>
    </div>
    <div class="android-content mdl-layout__content">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <to-top></to-top>
    </div>
</div>