/*css card home*/
.demo-card-square.mdl-card {
    margin: 1rem;
    position: relative;
}

    .demo-card-square.mdl-card:hover {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    }

.demo-card-square > .mdl-card__title {
    color: #fff;
    margin-left: 25px;
}

.demo-card-square > .mdl-card__accent {
    background: #ff9800;
}

.mdl-card__supporting-text {
    margin : 10px !important;
    width : unset!important;
}
.mdl-demo .mdl-card__actions a {
    float : right;
}


.body {
    padding: 20px;
    background: #fafafa;
    position: relative;
}
.mdl-layout__content {
    display:grid !important;
}
.background-antiquewhite {
    background: antiquewhite;
}
.background-grid-section {
    background-color: #fff;
}
.background-card {
    background-color: #fafafa;
}

.mdl-left {
    float:left;
}
.mdl-right {
    float : right;
}
.mdl-margin-row {
    margin-bottom : 35px;
}


/*.blockqueue {
    padding: 5px 15px;
    border-left : 5px solid #eee;
}
    /*.blockqueue:hover {
        border-color: aqua;
        transition: all 0.4s ease-in-out;
    }*/
    /*.blockqueue small {
        display: block;
        font-size: 80%;
        color: #777;
        line-height: 1.42857143;
    }*/

.container {
    margin-left : 60px;
    margin-right : 60px;
}

.snippet-group .snippet-code code {
    position: relative;
    max-height: none;
    width: 100%;
    box-sizing: border-box;
}

.mdl-demo section.section--center {
    max-width : none !important;
}
img {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}
.article-image {
    width: 100%;
    height: auto;
}
.mdl-card__media {
    background-color: none !important;
}
.portfolio-blog-card-compact {
    max-width : 300px;
    margin : 20px;
}
.center-card {
    margin-left : 100px;
}
.section--center {
    max-width : none !important;
}
.backgeound-image-article {
    background-color : whitesmoke;
    border-radius : 20px;
    
}
.backgeound-image-gift {
    background-color: whitesmoke;
    border-radius: 20px;
}


