.toTop_part {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 100000;
}

.mdl-button--fab {
    min-width: 30px;
    width: 40px;
    height: 40px;
}

    .mdl-button--fab.mdl-button--colored {
        background: #fdfcfd !important;
        color: #040404 !important;
    }
